{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">Product</h2>
          <h1 class="text-white text-3xl title-font font-medium mb-4">{{product.name}}</h1>

          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">Brand</span>
            <span class="ml-auto text-white">{{product.brand}}</span>
          </div>
          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">Price</span>
            <span class="ml-auto text-white">{{product.price}} sum</span>
          </div>
          <div class="flex">
            <span class="text-gray-500">Characteristics:</span>
            <span class="title-font font-medium text-2xl text-white">{{product.characteristics}}</span>
          </div>
        </div>
        <img src="{{product.img1.url}}" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        alt="...">
      </div>
    </div>

    <form action="{% url 'detail' product.id %}" method="POST">
      {% csrf_token %}
      {{comment_form.as_p}}
      <input name="submit" class="btn" type="submit" value="Отправить" />
      </form>
    {% for comm in comment %}
    <div>
        <strong>{{ comm.username }}</strong> 
        <p>{{ comm.text }}</p>
        <small>{{ comm.published_date }}</small>
    </div>
    {% empty %}
    <p>Комментариев пока нет.</p>
    {% endfor %}
    
  </section>

{% endblock %}


